.App {
    display: grid;
    grid-template-rows: 20vh, 80vh;
    grid-template-columns: 70vw, 30vw;
    align-items: center;
    justify-items: center;
}

.displayBooks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 70vw;
    height: 100vh;
    overflow-y: auto;   
    background-image: url('./img/bg4.jpeg');
    background-size: cover;
}

#deleteBtn {
    float: right;
}

.displayResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 70vw;
    height: 100vh;
    overflow-y: auto;   
    background-image: url('./img/bg4.jpeg');
    background-size: cover;
}

.bookCards {
    height: 12rem;
}

.rightSide {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-color: blue;
    height: 100vh;
    margin-right: 1rem;
    width: 30vw;
}

.addBookForm {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 30vw;
    padding: 1rem;
}

.navigation {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.cardContainer {
    display: flex;
    margin: 1rem;
    box-shadow: 5px 5px 5px black;
    height: 12rem;
    border-radius: 10px;
}

.bookCards {
    overflow-y: auto;
/*  width: 45rem; */
}

#bookCover {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.searchMessage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 70vw;
    height: 100vh;   
    background-image: url('./img/bg4.jpeg');
    background-size: cover;
    font-size: 50px;
    font-weight: 700;
    color: black; 
}

.noResults {
    font-size: 2rem;
    font-weight: 500;
    color: white; 
}

#showText {
    color:rgb(134, 131, 131);
}

#showText:hover {
    cursor: pointer;
}

#homeAuthor:hover {
    cursor: pointer
}
